<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Informe seu nome e idade:</h1>
  <form action="/clientes" method="POST">
    <label for="nome"> Usuário:</label>
    <input type="text" id="nome" name="login" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required><br><br>

    <button type="submit"> Enviar </button>
  </form>
</body>
</html>